.statement {
  /* padding: 8rem 6rem; */
margin: 4em;
  color: white;
  overflow: visible;
}

/* MARQUEE */
.marquee {
  width: 100%;

  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 2rem 0;
  margin-bottom: 6rem;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

img {
    height: 100px;
    padding-right: 30px;
}

.marquee-track span {
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-weight: 600;
  white-space: nowrap;
  padding-right: 4rem;
  opacity: 0.9;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* CONTENT */
.statement-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

.statement-text p {
  max-width: 420px;
  font-size: 1.1rem;
  line-height: 1.6;
  opacity: 0.8;
  margin-bottom: 2rem;
}

.story-btn {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 999px;
  cursor: pointer;
}

/* MEDIA */
.statement-media {
  position: relative;
}

.statement-media img {
  width: 100%;
  border-radius: 24px;
  object-fit: cover;
}

/* .play-btn {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background: rgba(0,0,0,0.6);
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
} */
