/* our story section */
.our-story {
  padding: 5rem 5vw;
  position: relative;
  overflow: hidden;
}

.our-story-inner {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

/* image containers */
.our-story-image {
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-story-image img,
.our-story-image video {
  width: 100%; 
  height: auto; 
  max-width: 250px; 
  object-fit: cover; 
  /*  border-radius: 30px; */
}

/* If you want exact 200px squares */
.our-story-image img {
  width: 290px;
  height: 200px;
  object-fit: cover;
}

/* text styling */
.our-story-text h2 {
  font-size: clamp(2rem, 4vw, 3rem);
  margin-bottom: 1rem;
  color: #f0eeee;
}

.our-story-text p {
  font-size: 1.05rem;
  margin-bottom: 1.5rem;
  color: #f0eeee;
}

.our-story-mission {
  list-style: none;
  padding: 0;
}

.our-story-mission li {
  margin-bottom: 0.7rem;
  color: #f0eeee;
}

/* responsiveness */
@media (max-width: 900px) {
  .our-story-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .our-story-image {
    width: 100%;
    max-width: 290px; 
    margin: 0 auto 40px;
  }

  .our-story-image img,
  .our-story-image video {
    width: 100%;
    max-width: 290px;
    height: 280px; 
    padding: 0;
  }
}