/* our story section */
.our-story {
  /* padding: 8rem 5vw; */
  padding: 5rem 5vw;

  position: relative;
  overflow: hidden;
}

.our-story-inner {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

/* text styling */
.our-story-text h2 {
  font-size: clamp(2rem, 4vw, 3rem);
  margin-bottom: 1rem;
  color: #f0eeee;
}

.our-story-text p {
  font-size: 1.05rem;
  margin-bottom: 1.5rem;
  color: #f0eeee;
}

.our-story-mission {
  list-style: none;
  padding: 0;
}

.our-story-mission li {
  margin-bottom: 0.7rem;
  color: #f0eeee;
}

/* image placeholders */
.our-story-image {
  width: 200px;
  height: 200px;
}

.story-image-placeholder {
  width: 200px;
  height: 200px;
  background: linear-gradient(135deg, #ddd, #bbb);
  border-radius: 8px;
}

/* responsiveness */
@media (max-width: 900px) {
  .our-story-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .story-image-placeholder {
    width: 100%;
    
    max-height: 280px;
    padding-bottom: 30px;
    margin: 40px 0px;
  }
}
